/*****************************/
/*********** STYLES **********/
/*****************************/
#header-outer { background: #79833a; border-bottom: 10px solid #f3c868; }
#copyright-outer { background: #79833a; border-top: 1px solid #f3c868; }
#banner2-float { background: #4e5425; border-bottom: 10px solid #f3c868; }
#advert-float { background: #79833a; border-bottom: 10px solid #f3c868; }
#footer-float { background: #79833a; border-top: 1px solid #f3c868; }
/*****************************/
/*********** STYLES **********/
/*****************************/
.pagination .pagenav { background: #79833a; border: 1px solid #f3c868; }
p.readmore a { background: #79833a; border: 1px solid #f3c868; }
input.button, button.button, #member-registration button.btn, #user-registration button.btn, #contact-form button.btn { background: #79833a; border: 1px solid #f3c868; }
/*****************************/
/*********** STYLES **********/
/*****************************/
.advert h3.h3title, .footer h3.h3title { border-bottom: 1px solid #f3c868; }
.advert .menu a, .footer .menu a { border-bottom: 1px solid #f3c868; }
#right-right-only .menu li a, #left-left-only .menu li a, #left-left-right .menu li a, #right-left-right .menu li a, #right-right-center .menu li a, #left-left-center .menu li a, #left-left-right-center .menu li a, #right-left-right-center .menu li a, #center-right-center .menu li a, #center-left-center .menu li a, #center-left-right-center .menu li a, #center-center-only .menu li a, #right-right-only .category-module li a, #left-left-only .category-module li a, #left-left-right .category-module li a, #right-left-right .category-module li a, #right-right-center .category-module li a, #left-left-center .category-module li a, #left-left-right-center .category-module li a, #right-left-right-center .category-module li a, #center-right-center .category-module li a, #center-left-center .category-module li a, #center-left-right-center .category-module li a, #center-center-only .category-module li a { background: #79833a; border: 1px solid #f3c868; }
/*****************************/
/*********** STYLES **********/
/*****************************/
#navigation { background: #4e5425; }
#toolbar { background: #4e5425; }
#toolbar .menu a { border-top: 1px solid #79833a; }
@media screen and (min-width:480px){
#navigation { background: none; }
}
@media screen and (min-width:768px){
#toolbar { background: none; }
#toolbar .menu a { border-top: none; }
#toolbar .menu ul { background: #79833a; border-bottom: 1px solid #f3c868; border-right: 1px solid #f3c868; border-left: 1px solid #f3c868; }
#toolbar .menu ul ul { border-top: 1px solid #f3c868; }
}